/* Large screens ----------- */
@media only screen and (min-width : 1824px) {

}

@media only screen and (max-width : 1444px) {
    .ubicaciones ul {
        font-size: 0.9rem;
    }
}


/* Big tablet to 1200px (widths smaller than 1140px row - from 1024 to 1200 px*/
@media only screen and (max-width: 1224px) {
    
    
    
    h2 { font-size: 2.2rem; }

    p { font-size: 1.1rem; }

    /*  ABOUT US */

    #about-us {
        padding-bottom: 0; 
    }

    .about-us-icon {
        height: 400px;
        width: 400px;
        margin: 10% 0;
    }

    .about-us-col{

    }

    /* CONTACT US */


    #contact .row {
        max-width: 100%;
    }

    .ubicaciones ul {
        font-size: 0.8rem;
    }

    .ubicaciones h4 { font-size: 1.4rem; }

    .contact-form-header { font-size: 1.8rem; }

    


}

/* Small tablet to big tablet - from 912 to 1023px */


@media only screen and (max-width: 1023px) {
    html { font-size: 14px; }
    
    .hero-text-box h1 {
        font-size: 2.5rem;
    }

    

    /* ABOUT US */
    .about-us-icon {
        margin: 0; 
    }

    .about-us-text {
        margin: 0;
        padding: 3rem 0;
    }

    /* CONTACT */

    #contact,
    .contact-2,
    .mapa {
        padding: 0;
    }

    .mapa {
        padding-bottom: 50px;
    }

    .contact-form-header { 
        font-size: 3rem;
        letter-spacing: 4px;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .ubicaciones ul li {
        font-size: 1.1rem;
    }

    .ubicaciones h4 {
        font-size: 1.8rem;
    }

    #ubicacion1 {
        width: 100%;
        height: 50vh;
    }

    .contact-header{
        padding: 5rem 0;
    }

    /* FOOOTER */
    .footer-nav li,
    .social-links {
        font-size: 1rem;
    }

}




/* Small phones to small tablets - from 912 to 767 px */
@media only screen and (max-width: 912px) {
    /* GENERIC */
    
    html { font-size: 13px; }

    .section-title {
        padding-top: 0;
    }

    

   .section-text {
       padding-bottom: 10%;
   } 


   /* ABOUT US */

   /* #about-us {
       height: 900px;
   } */

   .about-us-icon {
       padding-bottom: 4%;
   }

   .about-us-text { padding: 1.5rem 0;}

   /*   SOLUCIONES   */

   /* .soluciones-showcase li {
        display: block;
        float: left;
        width: 50%;
    } */

    /*   CONTACT   */

    #contact, 
    .contact-2 {
        padding-top: 0;
    }

    /* .mapa {
        padding: 0 0 10% 0; 
        height: 60vh;
    } */

    .cuadro-ubicaciones {
        padding-top: 5%;
        padding-bottom: 5%;
    }  

    .contact-form-header {
        font-size: 300%;
    } 

    .ciudad {
        font-size: 3rem;
    }

    /* CONTACT FORM */

    input[type="text"],
    input[type="email"],
    select,
    textarea {
        width: 100%;
        padding: 7px;
        border-radius: 10px;
        border: 1px solid rgb(114, 114, 114);
    }

    /* FOOTER  */
    
    .footer-nav {
        font-size: 150%;
    } 

    .social-links {
        font-size: 150%;
        text-align: center;
    }

    .footer-1-row {
        padding-bottom: 3%;
    }


}






/* Small phones to small tablets - from 481 to 767 px */
@media only screen and (max-width: 767px) {
    /* GENERIC */

    html { font-size: 12px; }
    

    /* HERO */

    /*   HERO   */
    
    
 
    .section-text {
        padding-bottom: 10%;
    } 

    /* FOOTER */

    .social-links,
    .footer-nav { 
        float: none;
        margin: 0 auto; 
    }
    
    .social-links {padding-bottom: 15px;}


    .footer-nav { 
        display: table; 
        margin: 0 auto;
        padding-bottom: 4% 
    }
}

/* Small phones. From 0 to 480 px */ 
@media only screen and (max-width: 480px) {
    .about-us-icon {
        height: 280px;
        width: 280px;
        
    }
}
