/* Large screens ----------- */
@media only screen and (min-width : 1824px) {

}

@media only screen and (max-width : 1444px) {
    
}


/* Big tablet to 1200px (widths smaller than 1140px row - from 1024 to 1200 px*/
@media only screen and (max-width: 1224px) {
    
    
    
    h2 { font-size: 2.2rem; }

    p { font-size: 1.1rem; }

    /*  ABOUT US */






}

/* Small tablet to big tablet - from 912 to 1023px */


@media only screen and (max-width: 1023px) {
    html { font-size: 14px; }
    

    /* SERVICIOS */
    .row-showcase {
        max-width: 95%;
        margin-left: 0;
        margin-right: 0;
    }

    

    /* FOOOTER */
    .footer-nav li,
    .social-links {
        font-size: 1rem;
    }

    .pos-1 { order: 1;}
    .pos-2 { order: 2;}
    .pos-3 { order: 4;}
    .pos-4 { order: 3;}
    .pos-5 { order: 5;}
    .pos-6 { order: 6;}
    .pos-7 { order: 8;}
    .pos-8 { order: 7;}
    .pos-9 { order: 9;}
    .pos-10 { order: 10;}
    .pos-11 { order: 12;}
    .pos-12 { order: 11;}



}




/* Small phones to small tablets - from 912 to 767 px */
@media only screen and (max-width: 912px) {
    /* GENERIC */
    
    html { font-size: 13px; }

    

    /* FOOTER  */
    
    .footer-nav {
        font-size: 150%;
    } 

    .social-links {
        font-size: 150%;
        text-align: center;
    }

    .footer-1-row {
        padding-bottom: 3%;
    }


}






/* Small phones to small tablets - from 481 to 767 px */
@media only screen and (max-width: 767px) {
    /* GENERIC */

    html { font-size: 12px; }
    

    /* FOOTER */

    .social-links,
    .footer-nav { 
        float: none;
        margin: 0 auto; 
    }

    .footer-nav { 
        display: table; 
        margin: 0 auto;
    padding-bottom: 4% 
    }

    .social-links {padding-bottom: 15px;}

}

/* Small phones. From 0 to 480 px */ 
@media only screen and (max-width: 480px) {
}
